<div class="action_bar">
  <div class="col-md-offset-10 col-md-2">
      <%= render "admin/posts/actions/#{@post.status}" %>
  </div>
</div>

<div class="actions col-md-8 col-md-offset-2">
  <%= render "form" %>
</div>
