<div class="action_bar">
  <div class="col-md-offset-10 col-md-2">
    <%= form_for [:admin, @post] do |f| %>
    <%= f.hidden_field :state_event, value: :publish %>
      <%= f.submit 'Publish', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>

<div class="actions col-md-8 col-md-offset-2">
  <%= render "form" %>
</div>
