<div class="post col-md-8 col-md-offset-2">
  <h2><%= link_to post.ttile, post_path(post) %></h2>
  <p><%= post.body %></p>
  <p><%= link_to "Edit", edit_post_path(post) %></p>
  <p><%= link_to "Delete", post_path(post), method: :delete %></p>
</div>
